<?xml version="1.0" encoding="utf-8" ?>
<configuration>
	<appSettings>
		<add key="TemplateFileCMS" value="C:\Demos\DATA\TEMPLATE-CMS.rtf"/>
		<add key="TemplateFileOTE" value="C:\Demos\DATA\TEMPLATE-OTE.rtf"/>
		<add key="LawyersDatabase" value="C:\Demos\DATA\LawyersDatabase.txt"/>
		<add key="CourtsDatabase" value="C:\Demos\DATA\CourtsDatabase.txt"/>
		<add key="ContractDuration" value="C:\Demos\DATA\ContractDuration.txt"/>
		<add key="TypesOfCompanies" value="C:\Demos\DATA\TypesOfCompanies.txt"/>
	</appSettings>
</configuration>